/* .tn-login{
   background:
   #fff; text-align: center; height: 100vh; display: flex; align-items: center;justify-content: center;}
.tn-login-w{ width: 300px;}
.tn-login-w span{ width: 100%; float: left; font-size: 16px; padding: 10px 0; font-family:'ApexNew-Book';}
.tn-login-w h2{ font-size: 12px; float: left;}
.tn-login-bg{ background: rgb(20,96,110); background: linear-gradient(0deg, rgba(20,96,110,1) 0%, rgba(0,177,173,1) 100%);}

.ui.label.tn-box-color{
  border-radius: 20px;
  background: #14606e;
  box-shadow: none;
  color: rgba(255,255,255, 0.89);
  font-size: 1em;
  padding: .35714286em .78571429em;
  margin: .14285714rem .28571429rem .14285714rem 0;}

  .ui {
    font-family: inherit !important;
  } */